.passwordPickerIcon .fa-key {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  cursor: pointer; }

#password_picker {
  width: 330px;
  border: 2px solid #000;
  max-height: 375px;
  overflow: hidden;
  z-index: 9999999;
  box-sizing: content-box;
  font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif; }
  #password_picker .tabs {
    position: static;
    height: 37px;
    background-color: #0082c9;
    margin-bottom: 0;
    float: left;
    width: 100%; }
    #password_picker .tabs .tab {
      float: left;
      margin-bottom: 0;
      padding: 10px 10px 6px;
      color: #004378;
      cursor: pointer; }
      #password_picker .tabs .tab .fa {
        font-size: 16px;
        box-sizing: content-box;
        margin: 0;
        padding: 0; }
        #password_picker .tabs .tab .fa svg {
          fill: #004378;
        }
      #password_picker .tabs .tab.active {
        color: #0082c9;
        background: #fff; }
        #password_picker .tabs .tab.active .fa svg {
          fill: #0082c9;
        }
      #password_picker .tabs .tab.active:hover {
        color: #0082C9; }
      #password_picker .tabs .tab:hover {
        color: #e1e1e1; }
      #password_picker .tabs .tab.close {
        float: right;
        padding: 8px 10px 6px;
        border-left: 1px solid #1572b9; }
  #password_picker div {
    box-sizing: content-box; }
  #password_picker .input {
    float: left;
    background: #fff;
    color: #555;
    cursor: text;
    font-family: inherit;
    border: 1px solid #ddd;
    outline: none;
    height: 21px;
    border-radius: 3px;
    margin: 3px 3px 3px 0;
    padding: 5px 6px 5px;
    font-size: 13px;
    box-sizing: content-box;
    background-clip: padding-box; }
  #password_picker input[type="password"], #password_picker input[type="text"]:not(#savepw-password) {
    width: calc(100% - 24px) !important; }
  #password_picker input[type="password"], #password_picker #savepw-password {
    width: calc(100% - 75px) !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; }
  #password_picker .niceInputButtons {
    float: left;
    margin-top: 3px;
    margin-left: -3px; }
    #password_picker .niceInputButtons .cell {
      margin-left: -5px;
      display: inline-block;
      font-size: 14px;
      border: 1px solid #ddd;
      background-color: #eaeaea;
      cursor: pointer;
      height: 24px;
      padding: 7px 8px 0; }
    #password_picker .niceInputButtons .cell:last-child {
      -webkit-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      background-clip: padding-box; }
  #password_picker .rrow {
    float: left;
    width: 100%;
    margin-bottom: 5px; }
  #password_picker .tab-content {
    display: block;
    box-sizing: content-box;
    background: #fff;
    padding: 5px;
    margin: 0;
    width: calc(100% - 11px);
    overflow: auto;
    font-size: 13px;
    max-height: 330px; }
    #password_picker .tab-content .pull-left {
      float: left; }
    #password_picker .tab-content h2 {
      font-size: 16px;
      margin: 0 0 15px 0px; }
    #password_picker .tab-content .tab-add-content label {
      display: block;
      margin-bottom: 5px; }
    #password_picker .tab-content .tab-list-content, #password_picker .tab-content #searchResults {
      width: 100%;
      font-size: 15px; }
      #password_picker .tab-content .tab-list-content .account, #password_picker .tab-content #searchResults .account {
        position: relative;
        min-height: 40px;
        padding: 6px 7px;
        border-bottom: 1px solid #e1e8ed;
        cursor: pointer; }
      #password_picker .tab-content .tab-list-content .no-credentials, #password_picker .tab-content #searchResults .no-credentials {
        width: 100%;
        padding-top: 10px;
        display: inline-block; }
        #password_picker .tab-content .tab-list-content .no-credentials div, #password_picker .tab-content #searchResults .no-credentials div {
          float: left;
          margin-bottom: 10px; }
    #password_picker .tab-content .tab-generate-content .pw-gen input {
      width: calc(100% - 75px) !important;
      float: left;
      background: #fff;
      color: #555;
      cursor: text;
      font-family: inherit;
      border: 1px solid #ddd;
      outline: none;
      height: 19px;
      min-height: 16px;
      border-radius: 3px;
      margin: 3px 3px 3px 0;
      padding: 7px 6px 5px;
      font-size: 13px;
      box-sizing: content-box;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
      -webkit-border-top-right-radius: 0;
      border-top-right-radius: 0;
      background-clip: padding-box; }
    #password_picker .tab-content .tab-generate-content .password_settings {
      clear: both; }
      #password_picker .tab-content .tab-generate-content .password_settings .adv_opt {
        cursor: pointer; }
      #password_picker .tab-content .tab-generate-content .password_settings .pw-setting-advanced {
        width: 100%; }
        #password_picker .tab-content .tab-generate-content .password_settings .pw-setting-advanced label {
          display: block;
          margin-right: 10px;
          margin-bottom: 5px; }
          #password_picker .tab-content .tab-generate-content .password_settings .pw-setting-advanced label .label {
            color: #000;
            padding: 3px 4px;
            font-size: 12px;
            font-weight: normal;
            margin-top: 1px;
            float: right;
            box-shadow: none; }
        #password_picker .tab-content .tab-generate-content .password_settings .pw-setting-advanced .pw-len, #password_picker .tab-content .tab-generate-content .password_settings .pw-setting-advanced .digits {
          float: left;
          margin-bottom: 10px; }
          #password_picker .tab-content .tab-generate-content .password_settings .pw-setting-advanced .pw-len .label, #password_picker .tab-content .tab-generate-content .password_settings .pw-setting-advanced .digits .label {
            margin-bottom: 5px;
            float: left; }
    #password_picker .tab-content .clearfix {
      clear: both; }
  #password_picker .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  #password_picker .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc; }
  #password_picker .btn-secondary:hover {
    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #adadad; }
  #password_picker .btn:first-child {
    margin-right: 25px; }
  #password_picker .btn:hover {
    background: #3cb0fd;
    text-decoration: none; }
  #password_picker .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; }

.error {
  border-color: #F44336 !important; }

/*# sourceMappingURL=password_picker.css.map */


/* tailwind replacement styles, since it does not work in the plasmo shadow dom logic, yet */
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.p-1 {
  padding: .25rem;
}
.border-2 {
  box-sizing: border-box;
  border: 2px solid #e5e7eb;
}
.rounded-lg {
  border-radius: .5rem;
}
.w-\[95\%\] {
  width: 95%;
}
.m-1 {
  margin: .25rem;
}
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.cursor-pointer {
  cursor: pointer;
}
