<script lang="ts">

</script>

<div class="tab-ignore-content">
    <h2 title="ignore_site"></h2>
    <div class="text">
        <div style="line-height: 1.5em" title="disable_picker_text"></div>
        <hr>
        <div class="btn btn-warning disable-site" title="disable_site">Disable site</div>
        <div class="btn btn-info disable-page" title="disable_page">Disable page</div>
    </div>
</div>
