<script lang="ts">

</script>

<div class="tab-search-content">
    <input type="text" class="input" id="password_search" title="[search_for, placeholder]">
    <div id="searchResults">

    </div>
</div>
